<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Drink</h5>
          <p>
            <strong>ID</strong>: {{drink.id}}</p>
          <p>
          <p>
            <strong>Drink</strong>: {{drink.text}}</p>
          <p>
            <strong>Quantity:</strong> {{drink.description}}</p>
            <a href="/drinksPage">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
