<link rel="stylesheet" href="assets/styles.css">	
<div id="sash">
	<h1>LUFFY'S BAR™</h1>
	<h4>EST. 2019</h4>
	<button class="homebtn" onclick="window.location.href = 'www.google.com'">ARCADE</button>
	<button class="homebtn" onclick="window.location.href = '/drinksPage'">BAR</button>
	<button class="homebtn" onclick="window.location.href = 'www.google.com'">LOCATION</button>
	<button class="homebtn" onclick="window.location.href = 'www.google.com'">CONTACT US</button>
</div>