<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Order your favourite drinks!</h2>
      </div>
    </div> 
    <br>
        <div class="section" style="max-width: 540px;">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
              <img src="./assets/drinks/beer-1.jpeg" class="card-img" alt="drink-image" style="margin-top:24px; margin-bottom:10px;">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Hopsoulution Double IPA</h5>
                <p class="card-text">A remarkably drinkable Double IPA that pays tribute to one of Mother Nature’s finest creations, as several hop varietals combine for massive aromas of tropical fruit, citrus and pine. A mild caramel malt character and dry finish provide balance.</p>
              </div>
            </div>
          </div>
        </div>  
      <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <select class="custom-select mr-sm-2" id="drink-text" style="margin-bottom: 10px">
          <option selected>Select</option>
          <option value="Hopsoulution Double IPA">Hopsoulution Double IPA</option>
        </select>
        <select class="custom-select mr-sm-2" id="drink-description" style="margin-bottom: 10px">
          <option selected>Quantity</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <button id="submit" class="btn btn-primary">Place Order</button>
      </div>    
      </form>    
      </div>
      
      <div class="row">
      <div class="col-8">
        <h3>Drinks:</h3>
        <ul id="drink-list" class="list-group">
          {{#each drinks}}
            <li data-id="{{this.id}}" class="list-group-item">
              <p>{{this.text}} </p>
              <span>Qty: {{this.description}} </span> 
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
          {{/each}}
        </ul>
      </div>  
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
